* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: #e6e6e6;
}

#header {
    background-color: #333;
}
#collapsable-nav a {
    color: white;
    font-weight: bold;
}
#navbar-button {
    float: left;
    margin-left: 15px;
}
.navbar-default {
    border: 0;
}
#contact-info {
    position: fixed;
    right: 20px;
    top: 0px;
    color: white;
}
#contact-info h4 {
    font-weight: bold;
    margin-bottom: 0;
}
#contact-info a {
    font-weight: bold;
    color: white;
    margin: 0;
}

#foot {
    background: #333;
    color: white;
}
#foot #copy {
    text-align: center;
}
#foot hr.sep {    
    border-top: 1px solid white;
    width: 50%;
}

#index #main {
    margin-top: 45px;
}
#index h2, #index h3 {
    font-weight: bold;
}
#index #name {
    background-image: url(../images/main-image.jpg);
    background-size: 100% 100%;
    margin: -15px;
    height: 93vh;
    text-align: center;
}
#index #main #name h1 {
    font-weight: bold;
    font-size: 50px;
    padding-top: 30vh;
}
#index #main .content {
    text-align: center;
    margin-top: 50px;
}
#index #main #contact {
    background-color: #1f2f61;
    padding: 50px;
    margin-top: 40px;
}
#index #main #contact h3 {
    color: white;
}
#index #main #contact a {
    background: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #1f2f61;
}
#index #main #contact a:hover {
    background: #121c3a;
    color: white;
}
#index #myCarousel {
    margin: 20px -15px;
}
#index .item img {
    width: 30%;
    display: inline;
}
@media (min-width: 767px) {
    #index .item img {
        width: 19%;
    }
    #index #main #contact a {
        padding: 20px 100px;
    }
    #index #main #name h1 {
        font-size: 60px;
    }
    #index #main .content {
        margin-top: 200px;
    }
}
#index #main .services h2 {
    text-align: center;
    margin: 50px;
}
#index #main .services h4 {
    margin-bottom: 50px;
}
#index #main .services a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}
#index #main .services a:hover {
    opacity: 0.5;
}