* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: #e6e6e6;
}

#header {
    background-color: #333;
}
#collapsable-nav a {
    color: white;
    font-weight: bold;
}
#collapsable-nav a.active {
    color: #66ccff;
}
#collapsable-nav a:hover:not(.active) {
    color: #a6a6a6;
}
#navbar-button {
    float: left;
    margin-left: 15px;
}
.navbar-default {
    border: 0;
}
#contact-info {
    position: fixed;
    right: 20px;
    top: 0px;
    color: white;
}
#contact-info h4 {
    font-weight: bold;
    margin-bottom: 0;
}
#contact-info a {
    font-weight: bold;
    color: white;
    margin: 0;
}

#foot {
    background: #333;
    color: white;
}
#foot #copy {
    text-align: center;
}
#foot hr.sep {    
    border-top: 1px solid white;
    width: 50%;
}
#foot a {
    text-decoration: none;
}
#loading {
    margin: 23%;
    transform: scale(1.5);
}

/*Index Page*/
#main {
    margin-top: 45px;
}
#main h2, h3 {
    font-weight: bold;
}
#main #name {
    background-image: url(../images/main-image.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: -15px;
    height: 93vh;
    text-align: center;
}
#main #name h1 {
    font-weight: bold;
    font-size: 50px;
    padding-top: 30vh;
}
#main .content {
    text-align: center;
    padding: 30px;
}
#main #contact {
    background-color: #1f2f61;
    padding: 50px;
    margin-top: 40px;
}
#main #contact h3 {
    color: white;
}
#main #contact a {
    background: white;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #1f2f61;
}
#main #contact a:hover {
    background: #121c3a;
    color: white;
}
#main #myCarousel {
    margin: 20px -15px;
}
#main .item img {
    width: 30%;
    display: inline;
}
#main .services h2 {
    text-align: center;
    margin: 50px;
}
#main .services h4 {
    margin-bottom: 50px;
}
#main .services a {
    text-decoration: none;
    color: inherit;
}
#main .services a img {
    transition: 0.5s;
}
#main .services a:hover img {
    transform: scale(1.5);
}

/*Services Page*/
.banner {
    height: 70vh;
    margin: -20px -15px;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: white;
}
.banner:nth-child(1) {
    background-image: url(../images/Display/4.jpeg);
    margin-top: -3px;
}
.banner:nth-child(3) {
    background-image: url(../images/Display/5.jpeg);
}
.banner:nth-child(5) {
    background-image: url(../images/Display/9.jpeg);
}
.banner:nth-child(7) {
    background-image: url(../images/Display/10.jpeg);
}
.banner:nth-child(9) {
    background-image: url(../images/Display/15.jpeg);
}
.banner:nth-child(11) {
    background-image: url(../images/Display/18.jpeg);
}
.banner h2 {
    font-size: 50px;
    padding-top: 100px;
}
.banner h3 {
    padding: 80px;
}
.service-paras h4 {
    margin: 80px 25px;
    text-align: justify;
}

/*Projects Page*/
#main #pro-start {
    margin-top: 50px;
}
#main .img-projects {
    width: 100%;
    height: 100%;
}
#main .pro-col {
    height: 400px;
    padding: 0;
}
#main .pro-col h4 {
    padding: 0 50px;
}

/*Contact form*/
#main #form {
    width: 90%;
    margin: 20% 5%;
    padding: 5%;
    box-shadow: 0 0 10px 1px #08c;
    border-radius: 10px;
}
#main #form h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#main #form h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
#main #form .inp {
    width: 100%;
    font-size: 25px;
    padding: 10px;
    box-shadow: 0 0 10px 1px #08c;
    border-radius: 10px;
}
#main #form #submit {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    background: #08c;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

@media (min-width: 767px) {
    #main .item img {
        width: 19%;
    }
    #main #contact a {
        padding: 20px 100px;
    }
    #main #name h1 {
        font-size: 60px;
    }
    #main .content {
        margin-top: 200px;
    }
    #main #form {
        width: 60%;
        margin: 10% 20%;
    }
    .banner {
        margin: 5px 10%;
    }
    .service-paras h4 {
        margin: 80px 20%;
    }
    .service-paras div:nth-child(1) h4 {
        margin-right: 5%;
    }
    .service-paras div:nth-child(2) h4 {
        margin-left: 5%;
    }
}